html,
    body {
      font-size: 14px;
      margin: 0;
      font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    }

    .row {
      font-size: 0;
      background: #ffff98;
    }

    .row:hover {
      background: #fff;
    }

    .col {
      display: inline-block;
      font-size: 14px;
      line-height: 40px;
      text-align: left;
      border: 1px solid #666;
      margin-bottom: -1px;
      margin-right: -1px;
      text-indent: 10px;
    }

    .col-1 {
      width: 180px;
    }

    .col-2 {
      width: 140px;
    }

    .col-3 {
      width: 180px;
    }

    .col-4 {
      width: 160px;
    }

    .col-5 {
      width: 270px;
    }

    .col-6 {
      width: 160px;
    }

    .col-7 {
      width: 100px;
    }

    .header {
      background: #000;
      color: #fff;
      height: 50px;
      line-height: 50px;
    }

    .main {
      background: #fff;
      width: 1200px;
      margin: 0 auto;
    }